@{
    ViewData["Title"] = "Home Page";
}

<b>myAppSetting:</b> @ViewData["apiKey"]<br />



<div class="container text-wrapper">
    <div class="row">
        <div class="card-columns d-inline-block ">
            <div class=“col-md-4”>
                <div class="card" style="width: 20rem;" id="movieGrid">
                </div>
            </div>
        </div>
    </div>
</div>
